<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member.css}" />
    <script th:src="@{/js/member.js}"></script>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <div class="page-header">
          <h1>社員検索</h1>
        </div>
        <form action="/actor/search" th:action="@{/member/search}" method="post" th:object="${form}">
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">名前</label>
                <input type="text" class="form-control" th:field="*{name}" placeholder="Example input placeholder">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">地域</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="search" class="btn btn-primary me-md-2" type="button">検索</button>
              </div>
            </div>
          </div>
          <br><br>
          <table class="table table-bordered ahz-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>名前</th>
              <th>身長</th>
              <th>血液型</th>
              <th>誕生日</th>
              <th>出身地</th>
              <th>更新日時</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          <th:block th:if="!${#lists.isEmpty(members)}" th:each="info, row:${members}" th:data-no="${row.index}+1">
          <tr>
              <th><span th:text="${row.index}+1"></span></th>
              <th><span th:text="${info.name}"></span></th>
              <th><span th:text="${info.height}"></span></th>
              <th><span th:text="${info.blood}"></span></th>
              <th><span th:text="${#dates.format(info.birthday, 'yyyy-MM-dd')}"></span></th>
              <th><span th:text="${info.birthplaceId}"></span></th>
              <th><span th:text="${#dates.format(info.updateAt, 'yyyy-MM-dd hh:mm')}"></span></th>
              <th>&nbsp;</th>
          </tr>
          </th:block>
          
          </tbody>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>