.row label {
	padding-right: 20px;
}

.row input {
	display: inline-block;
	width: 300px;
}

.form-select {
	display: inline-block;
	width: 300px;
}

.ahz-table {
	border: 4px;
	border-color: #dee2e6;
}
.ahz-table th{
	}